html, body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header, .noprint, nav, .button {
    display: none;
}

table {
    width: 100%;
}

th {
    border-bottom: 1px solid #111;
}

.text-right {
    text-align: right;
}

h2, h1 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.sum {
    text-align: right;
    padding: 2px 3px 0 0;
    border-top: 1px solid #000;
}

.sumsum {
    display: inline;
    float: right;
    margin: 3px 0 0 0;
    padding: 1px 3px 0 0;
    border-top: 3px double #000;
    font-weight: bold;
}

img {
    float: right;
    width: 40%;
}

h2 {
    clear: both;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.signature {
	border-top: 1px solid #000;
	margin: 70px 10% 0 0;
	padding: 2px 0 0 0;
	width: 25%;
	float: left;
}

.print {
    display: block;
}
